* {

    box-sizing: border-box

}

*:before,
*:after {
    box-sizing: border-box
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.8;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    height: 100%;
}